@keyframes ldio-tham0p6uxen {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-tham0p6uxen div { box-sizing: border-box!important }
.ldio-tham0p6uxen > div {
  position: absolute;
  width: 115.92px;
  height: 115.92px;
  top: 22.540000000000003px;
  left: 22.540000000000003px;
  border-radius: 50%;
  border: 12.88px solid #000;
  border-color: #000000 transparent #000000 transparent;
  animation: ldio-tham0p6uxen 1.408450704225352s linear infinite;
}

.ldio-tham0p6uxen > div:nth-child(2), .ldio-tham0p6uxen > div:nth-child(4) {
  width: 86.94000000000001px;
  height: 86.94000000000001px;
  top: 37.03px;
  left: 37.03px;
  animation: ldio-tham0p6uxen 1.408450704225352s linear infinite reverse;
}
.ldio-tham0p6uxen > div:nth-child(2) {
  border-color: transparent #123d60 transparent #123d60
}
.ldio-tham0p6uxen > div:nth-child(3) { border-color: transparent }
.ldio-tham0p6uxen > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-tham0p6uxen > div:nth-child(3) div:before, .ldio-tham0p6uxen > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 12.88px;
  height: 12.88px;
  top: -12.88px;
  left: 38.64px;
  background: #000000;
  border-radius: 50%;
  box-shadow: 0 103.04px 0 0 #000000;
}
.ldio-tham0p6uxen > div:nth-child(3) div:after {
  left: -12.88px;
  top: 38.64px;
  box-shadow: 103.04px 0 0 0 #000000;
}

.ldio-tham0p6uxen > div:nth-child(4) { border-color: transparent; }
.ldio-tham0p6uxen > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-tham0p6uxen > div:nth-child(4) div:before, .ldio-tham0p6uxen > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 12.88px;
  height: 12.88px;
  top: -12.88px;
  left: 24.150000000000002px;
  background: #123d60;
  border-radius: 50%;
  box-shadow: 0 74.06px 0 0 #123d60;
}
.ldio-tham0p6uxen > div:nth-child(4) div:after {
  left: -12.88px;
  top: 24.150000000000002px;
  box-shadow: 74.06px 0 0 0 #123d60;
}
.loadingio-spinner-double-ring-wqw2g5f6yg {
  width: 161px;
  height: 161px;
  display: inline-block;
  overflow: hidden;
  background: none;
  margin: 0 auto;
}
.ldio-tham0p6uxen {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-tham0p6uxen div { box-sizing: content-box; } 